@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&display=swap');

h1 {
    font-size: 4vw !important;
}
h2 {
    font-size: 3.5vw !important;
}
h3 {
    font-size: 3vw !important;
}
h4 {
    font-size: 2.5vw !important;
}
h5 {
    font-size: 2vw !important;
}
h6 {
    font-size: 2vw !important;
}
p {
    font-size: 1.5vw;
}
html,label {
    font-size: 1.5vw;
}
body {
    font-size: 1.5vw;
}
table {
    font-size: 1.5vw;
}
td {
    font-size: 1.5vw;
}
.btn,button{
    font-size: 1.5vw;
    word-break: break-word !important;
    background: var(--botoesbg) !important;
    font-family: var(--botoesfont) !important;
    color: var(--botoescolor) !important;
    white-space: normal !important;
}

button:disabled,.btn:disabled{
    background: var(--botoesoff) !important;;
}

a:disabled,a.btn:disabled{
    color: var(--botoesoff) !important;
}

a:visited,a.btn:visited{
    color: var(--botoesoff) !important;
}

button:disabled,.btn:disabled{
    background: var(--botoesoff) !important;;
}

button:hover,.btn:hover{
    background: var(--botoesout) !important;
    color: var(--botoesbg) !important;
}
a:hover,a.btn:hover{
    color: var(--botoesbg) !important;
}

.btn.btn-warning {
    color: #212529 !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}
.btn.btn-warning:hover {
    background-color: #f1ca57 !important;
    border-color: #333 !important;
}

.btn.btn-danger{
    color: #fff !important;
    background-color: #bd2130 !important;
    border-color: #b21f2d !important;
}
.btn.btn-danger:hover{
    background-color: #d1424f !important;
    border-color: #333 !important;
}

.bg-d{
    background: var(--navbarbg) !important;
    color: var(--navbarcolor) !important;
}

.borderColor{
    border-color: var(--navbarbg) !important;
}

#sobreBien h4{
    color: var(--navbarbg) !important;
}

.spanCli,a {
    font-family: courgette,cursive;
    color: var(--navbarbg);
}

h3.spanCli{
    text-transform: capitalize;
    font-size: 2.5vw !important;
}

hr{
    border: 1px solid var(--navbarbg);
    box-shadow: 1vw 0.6vw 1.5vw 0.1vw var(--botoesout);
}

.bs{
    border: 1px solid var(--navbarbg);
    box-shadow: 1vw 0.6vw 1.5vw 0.1vw var(--botoesout);
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: var(--navbarbg) !important;
    box-shadow: 1vw 0.6vw 1.5vw 0.1vw var(--botoesout);
    padding: 1.5vw;
    border-radius: 2vw;
}

.listA{
    color: var(--hrefcolor) !important;
}

.socialink i{
    font-size: 3vw !important;
    color: var(--navbarbg);
    padding: 0.5vw;
    width: 4vw;
    height: 4vw;
}


.navbar{
    background: var(--navbarbg) !important;
}

.modal table tr td:first-child,.modal table tr th:first-child{
    display: none;
}

.navbar .nav-link{
    font-family: var(--navbarfont) !important;
    color: var(--navbarcolor) !important;
    border-radius: 15px;
}

.navbar .nav-link:hover{
    background: var(--botoesout);
}

.modal * {
    border-radius:10px !important;
}
.modal-header,.modal-content,.modal-footer {
    background: var(--modalbg) !important;
}

.modal-dialog {
    max-width: 100% !important;
    width: 100% !important;
    overflow: auto !important;
    background: var(--modalbg) !important;
    font-family: var(--modalfont) !important;
    color: var(--modalcolor) !important;
    z-index: 999;
}

fieldset,legend{
    background: var(--fieldesetbg) !important;
    font-family: var(--fieldsetfont) !important;
    color: var(--fieldsetcolor) !important;
}

input{
    background: #eee !important;
    color: #000 !important;
}

.tab-content{
    background: var(--tabbg) !important;
}

.nav-tabs .nav-link{
    background: var(--tabbg) !important;
    font-family: var(--tabfont) !important;
    color: var(--tabcolor) !important;
}

.nav-tabs .nav-link.active{
    background: var(--navbarbg) !important;
    font-family: var(--navbarfont) !important;
    color: var(--navbarcolor) !important;
}

table thead tr{
    background: var(--tableheadbg) !important;
    font-family: var(--tableheadfont) !important;
    color: var(--tableheadcolor) !important;;
}

table tr:hover{
    background: var(--tableheadbg) !important;
    font-family: var(--tableheadfont) !important;
    color: var(--tableheadcolor) !important;;
}

tr:nth-child(even) {
    background: var(--rowevenbg) !important;
    color: var(--rowevencolor) !important;
}
tr:nth-child(odd) {
    background: var(--rowoddbg) !important;
    color: var(--rowoddcolor) !important;
}

table tfoot tr{
    background: var(--tablebg) !important;
    font-family: var(--tablefont) !important;
    color: var(--tablecolor) !important;
}

.transition {
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.fa{
    font-family: "Font Awesome 5 Free", Open Sans;
}

#menu-toggle{
    position: absolute;
    z-index: 900;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#menu-toggle-R{
    position: absolute;
    z-index: 900;
    right: 35px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logofield img{
    max-width: 60%;
}

#wrapper{
    min-height: 100vh;
    overflow: hidden;
}

*:required:before{
    content: "*";
    border-color: goldenrod;
}
*:hover:required{
    border-color: red;
}

.w-90{
    width: 90%;
}

.multiopt{
    height: 25vh;
    max-height: 25vh;
    overflow-y: scroll; 
}


iframe{
    width: 100%;
    height: 100vh;
}

form{
    width: 100%;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

@media screen and (max-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}

.fc-left, .fc-center, .fc-right {
    width: 100% !important;
    display: block !important;
    margin: 0.6em;
    padding: 0.6em;
}

.fc-toolbar {
    display: block !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}

.glory{
    font-family: 'Glory', sans-serif;
}

.borda-top{
    border-image: url(../img/bordah.png) 30 round !important;
    border-top: 1vw solid transparent !important;
}
.borda-bottom{
    border-image: url(../img/bordah.png) 30 round !important;
    border-bottom: 1vw solid transparent !important;
}
.borda-left{
    border-image: url(../img/bordav.png) 30 round !important;
    border-left: 1vw solid transparent !important;
}
.borda-right{
    border-image: url(../img/bordav.png) 30 round !important;
    border-right: 1vw solid transparent !important;
}
.borda-x{
    border-image: url(../img/bordav.png) 30 round !important;
    border-right: 1vw solid transparent !important;
    border-left: 1vw solid transparent !important;
}
.borda-y{
    border-image: url(../img/bordah.png) 30 round !important;
    border-top: 1vw solid transparent !important;
    border-bottom: 1vw solid transparent !important;
}


.table td{
    max-height: 200px;
    overflow: hidden;
}


.logoanunciante{
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 576px) { 
    .logoanunciante{
        width: 100%;
    }
    .navbar-toggler-icon{
        width: 10vw;
        height: 10vw;
    }
}

@media (min-width: 768px) { 
    .logoanunciante{
        width: 75%;
    }
    .navbar-toggler-icon{
        width: 8vw;
        height: 8vw;
    }
}

@media (min-width: 992px) { 
    .logoanunciante{
        width: 50%;
    }
    .navbar-toggler-icon{
        width: 6vw;
        height: 6vw;
    }
}

@media (min-width: 1200px) { 
    .logoanunciante{
        width: 50%;
    }
    .navbar-toggler-icon{
        width: 4vw;
        height: 4vw;
    }
}

.pagination .page-item:first-child .page-link{
    background: var(--botoesbg) !important;
    font-family: var(--botoesfont) !important;
    color: var(--botoescolor) !important;
}
.pagination .page-item:last-child .page-link{
    background: var(--botoesbg) !important;
    font-family: var(--botoesfont) !important;
    color: var(--botoescolor) !important;
}
.pagination .page-item.mr-1 .page-link{
    background: var(--fieldesetbg) !important;
    font-family: var(--fieldsetcolor) !important;
    color: var(--botoescolor) !important;
}
.pagination .page-item.ml-1 .page-link{
    background: var(--fieldesetbg) !important;
    font-family: var(--fieldsetcolor) !important;
    color: var(--botoescolor) !important;
}

.pagination .page-item .current{
    background: var(--fieldesetbg) !important;
    font-family: var(--fieldsetcolor) !important;
    color: var(--hrefcolor) !important;
}
