/* Base */
body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 99%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color:var(--navbarcolor) !important;
    padding-left: 15px;
    cursor: pointer;
}

.sidebar-nav h3,.sidebar-nav h4{
    color:var(--navbarcolor) !important;
    cursor: pointer;
}

.sidebar-nav hr{
    background:var(--navbarcolor) !important;
}

.sidebar-nav li a:hover {
    text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 15vh;
}
.sidebar-nav>.sidebar-brand img{
    max-height: 100%;
    max-width: 100%;
}

.sidebar-nav>.sidebar-brand a {
    color: var(--navbarcolor);
}

.sidebar-nav>.sidebar-brand a:hover {
    color: var(--navbarcolor);
    background: none;
}

/* Left */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 60%;
    width: 0;
    height: 100%;
    background: var(--navbarbg);
    margin-left: -60%;
    overflow-y: auto;
    border-right: 1px solid #006633;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 60%;
}

.toggled #menu-toggle{
    position: absolute;
    z-index: 900;
    left: 62%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -60%;
}

/* Right */

#sidebar-wrapper-R {
    z-index: 1000;
    position: fixed;
    right: 60%;
    width: 0;
    height: 100%;
    margin-right: -60%;
    overflow-y: auto;
    background: var(--navbarbg);
    border-left: 1px solid #006633;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled-R #sidebar-wrapper-R {
    width: 85%;
}

.toggled-R #menu-toggle-R{
    position: absolute;
    z-index: 900;
    left: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled-R #page-content-wrapper {
    position: absolute;
}

@media (min-width: 768px) {
    #menu-toggle{
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
    }
    #menu-toggle-R{
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
    }
    .toggled #menu-toggle{
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
    }
    .toggled-R #menu-toggle-R{
        width: 6vw;
        height: 6vw;
        font-size: 4vw;
    }
}

@media (min-width: 992px) {
    #menu-toggle{
        width: 5vw;
        height: 5vw;
        font-size: 3vw;
    }
    #menu-toggle-R{
        width: 5vw;
        height: 5vw;
        font-size: 3vw;
    }
    .toggled #menu-toggle{
        width: 5vw;
        height: 5vw;
        font-size: 3vw;
    }
    .toggled-R #menu-toggle-R{
        width: 5vw;
        height: 5vw;
        font-size: 3vw;
    }
}

@media (min-width: 1200px) {
    #menu-toggle{
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
    }
    #menu-toggle-R{
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
    }
    .toggled #menu-toggle{
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
    }
    .toggled-R #menu-toggle-R{
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
    }
}

#menu-toggle-R[data-toggle="popover"]{
    width: 10vw !important;
}

.sidebarvalor{
    border: none;
    background: none !important;
}

#sidebar-wrapper-R .img-menu{
    max-width: 15%;
}